/* Reset and Basic Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf4fb;
    background: url('images/car8.jpg');
    background-size: cover;
    background-position: center;
}
h1 {
    text-align: center;
}

/* Gallery Container */

.img-gallery {
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 1s ease;
}

.img-gallery img:hover {
    transform: scale(0.8);
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

/* wrapper */
.imageWrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imageWrapper img {
    width: 90%;
    max-width: 500px;
}

.imageWrapper span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    font-family: sans-serif;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;

}

 .imageWrapper button#btn {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50px;
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.imageWrapper button#btn:hover{
    text-decoration: underline;
    color: tomato;
}
