body{
    padding:0;
    margin: 0;
    background: #576574;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 30px;
}

 .price{ 
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}

.price .table{
    background: lightgray;
    padding: 20px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: -4px 6px 20px 0px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.price .table h1{
    font-size: 40px;
}

.price .table h1 span{
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.price .table ul{
    margin: 0;
    padding: 0;
}

.price .table ul li{
    padding: 10px 0;
    list-style: none;
}

.price .table a{
    text-decoration: none;
    color: #3b4b5a;
    border: 2px solid#3b4b5a;
    display: block;
    padding: 10px 0;
    border-radius: 40px;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
}

.price .table a:hover{
   background: #3b4b5a;
   color: #fff;
   box-shadow: -4px 6px 20px 0px rgba(0, 0, 0, 0.75);
   transform: scale(1.04); 
}

.pop{
    background: #e74c3c;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 12px;
    transform: rotate(45deg);
    position: absolute;
    top: 16px;
    right: -34px;
}


.pop1{
    background: #bf3ce7;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 10px;
    transform: rotate(43deg);
    position: absolute;
    top: 16px;
    right: -34px;
}
.pop2{
    background: #544f4571;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 14px;
    transform: rotate(45deg);
    position: absolute;
    top: 16px;
    right: -34px;
}

@media screen and (max-width: 980px){
    .price{
        flex: 50%;
    }
}

@media screen and (max-width: 700px){
    .price{
        flex: 100%;
    }
}
